.profile-title {
    display: flex;
    column-gap: 20px;
    
}

.quick-profile {
    max-width: 72.14px;
    max-height: 103px;
}

.block-profile {
    display: inline-block;
    text-align: center;
    
}

@media (max-width:700px) {
    .profile-title {
        overflow-y: auto;
        overflow-y: hidden;
        margin-right: -24px;
    }
    .quick-profile {
        min-height: 112px;
        
    }
}

.block-profile__avatar {
    position: relative;
    display: inline-block;
    padding: 0px 6.07px 9px 6.07px;
}

.avatar-svg {
    position: absolute;
    top: 41.27px;
    left: 47.96px ;
}

.avatar-text {
    margin: 0;
    max-height: 36px ;
    font-weight: 400 ;
    font-size: 14px;
    line-height: 18.2px ;
    color: #373737;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    overflow-wrap: break-word;
}