<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <p>This is a dynamic page rendered using EJS template engine with CSS and JavaScript included!</p>
  <a href="#" class="button">Click Me!</a>
  <script src="/js/scripts.js"></script>

  <div>
    <p><%= message %></p>
    <button class="button">Click Me</button>
  </div>
  
</body>
</html>