.activity-item {
    display: flex;
    align-items: center;
    max-width: 912px;
    border: #e8e9e9 solid 1px;
    border-radius: 11px;
    justify-content: space-between;
    margin-bottom: 4px;
}

.activity-item__bill {
    align-items: center;
    display: flex;
    padding-top: 16px;
    padding-bottom: 14px;
}

.activity-item__icon {
    width: 37px;
    height: 37px;
    margin-left: 16px;
}

.activity-item__header {
    row-gap: 1px;
    padding-left: 14px;
}

.activity-item__name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
}

.activity-item__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: #a6a6a6;
}

.activity-item__details {
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 14px;
    row-gap: 1px;
}

.activity-item__transaction-amount {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    color: #373737;
    display: flex;
    justify-content: right;
}

.activity-item__transaction-date {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: #a6a6a6;
    display: flex;
    justify-content: right;
}

.activity-item__transaction-amount-gren {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    color: #373737;
    display: flex;
    justify-content: right;
    color: #00e377;
}
