@import './checking-savings-account.css';
@import './account-text.css';
@import './user-actions.css';
@import './title.css';
@import './widgets-title.css';
@import './user-business.css';
@import './money-transfers-text.css';
@import './money-transfers-profile.css';

.home-container {
    max-width: 1280px;
    margin: 0 auto; 
    margin-bottom: 24px;
}

@media (max-width: 1328px) {
    .home-container {
      margin: 0px 24px ;
    }  
}

.home {
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    column-gap: 10px;  
}

.home-user-stats {
    margin-bottom: 24px ;
    max-width: 1328px;
}

.home-user-cards {
    display: flex;
    column-gap: 12px ;
    row-gap: 12px; 
}

@media(max-width: 1250px){
    .home-user-cards {
        flex-wrap: wrap;
        
    }
    
}

@media(max-width: 670px) {
    .home-user-cards {
        flex-direction: column;
        
    }
    .home-user-card__info {
        width: 100%;
    }
}

@media(max-width: 420px) {
    .business-svg-w {
        width: 45px;
    }

    .business-svg {
        align-content: center;
    }
}

@media(max-width:325px) {
    .widgets-icon {
       max-width: 100%;
    }
}



