@import './checking-savings-account.css';
@import './account-text.css';
@import './user-actions.css';
@import './title.css';
@import './widgets-title.css';
@import './user-business.css';

.home-container {
    max-width: 1280px;
    margin: 0 auto; 
    margin-bottom: 24px;
}

@media (max-width: 1328px) {
    .home-container {
      margin: 0px 24px ;
    }  
}

.home {
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    column-gap: 10px;  
}

.home-user-stats {
    margin-bottom: 24px ;
    max-width: 1328px;
}

.home-user-cards {
    display: flex;
    column-gap: 12px ;
    row-gap: 12px; 
}

@media(max-width: 1250px){
    .home-user-cards {
        flex-wrap: wrap;
        
    }
    
}

@media(max-width: 670px) {
    .home-user-cards {
        flex-direction: column;
        
    }
    .home-user-card__info {
        width: 100%;
    }
}

@media(max-width: 420px) {
    .business-svg-w {
        width: 45px;
    }

    .business-svg {
        align-content: center;
    }
}

@media(max-width:325px) {
    .widgets-icon {
       max-width: 100%;
    }
}

.money-transfers {
    max-width: 1280px;
    margin: 0 auto; 
    
}

@media (max-width: 1328px) {
    .money-transfers {
      margin: 0px 24px ;
    }  
}

.money-transfers-profile {
    margin-bottom: 30px;
}



.transfers__text {
    font-weight: 600 ;
    font-size: 18px ;
    line-height: 23.4px ;
    color: #373737;
}

.profile-title {
    display: flex;
    column-gap: 20px;
    
}

.quick-profile {
    min-width: 72.14px; 
    max-width: 113.14px;
    max-height: 103px;
}

.block-profile {
    display: inline-block;
    text-align: center;
    
}

@media (max-width:700px) {
    .profile-title {
        overflow-y: auto;
        overflow-y: hidden;
        margin-right: -24px;
    }
    .quick-profile {
        min-height: 112px;
        
    }
}

.block-profile__avatar {
    position: relative;
    display: inline-block;
    padding: 0px 6.07px 9px 6.07px;
}

.avatar-svg {
    position: absolute;
    top: 41.27px;
    left: 47.96px ;
}

.avatar-text {
    margin: 0;
    max-height: 36px ;
    font-weight: 400 ;
    font-size: 14px;
    line-height: 18.2px ;
    color: #373737;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    overflow-wrap: break-word;
}

.avatar-text:hover {
    -webkit-line-clamp: none;
    overflow: visible;
}


