.home-title {
    color: #262626;
}

.home-title__greetings,
.home-title--main {
    margin: 0;
    padding: 2.5px 0px;
}

.home-title--main {
    font-weight: 700;
    font-size: 39px;
}

.home-title__greetings {
    font-weight: 400;
    font-size: 18px;
}
