.user-business {
    width: 100%;
    display: flex;
    border: 1px solid #36e18f;
    border-radius: 11px;
    background-color: #00c7ee0d;
}

.business-svg {
    padding: 37.52px 23px 37.52px 26px;
}

.business-title {
    padding: 24px 26px 24px 0px;
}

.business-text-h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 4px;
}

.business-text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
    margin-bottom: 9px;
    justify-content: space-between;
}

.business-link-row {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    display: inline-flex;
    align-items: center;
    column-gap: 13px;
    border-radius: 17px;
    background-color: #03ee7d1a;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    color: #00e377;
}

.business-link-row:hover {
    text-decoration: underline;
}
