.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer {
    padding: 0px 24px;
    border-top: rgb(203, 203, 203) solid 1px;
}

.footer-navigation {
    text-align: center;
    column-gap: 10px;
    display: flex;
    align-items: center;
}

.footer-links__item {
    color: #00E377;
    text-decoration: none;
}

.footer-links__item:hover {
    text-decoration: underline;

}

.footer-icons {
    display: flex;
    column-gap: 5px;
}

.footer-icons__item {
    text-decoration: none;
}

.footer-icons__item__svg {
    color: #373737;
    border-radius: 10px;
}

.footer-icons__item__svg:hover {
    border-radius: 5px;
    color: #00E377;
}

@media (max-width: 640px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-navigation {
        flex-direction: column;
    }
}