.header-container {
    padding: 0 24px;
    max-width: 1328px;
    margin: 0 auto;
}

.nav {
    padding: 14px 0;
    background-color: #262626;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.menu {
    align-items: center;
    display: flex;
    column-gap: 10px;
    position: relative;
}

.help-info {
    border-right: 1px solid #4a4a4a;
    padding: 5px 5px;
    padding-right: 17px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    flex: 1;
    font-weight: 400;
    font-size: 14px;
}

.help-info a {
    color: #00e377;
    text-decoration: none;
}

.help-info a:hover {
    text-decoration: underline;
}

@media (max-width: 960px) {
    .help-info {
        display: none;
    }
}

.header-img {
    width: 100%;
    height: auto;
    max-width: 142px;
}

.header-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__button {
    display: flex;
    padding: 5px 5px;
    color: white;
    background-color: #262626;
    border: none;
    position: relative;
}

.header__button:hover {
    background-color: #4a4a4a;
    border-radius: 5px;
    color: #00e377;
}

.header__button-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 95px;
    background-color: #262626;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    padding: 5px 5px;
    display: none;
}

.notification__items {
    top: 35px;
    right: 67px;
}

.settings__items {
    top: 35px;
    right: 37px;
}

.header__button-icon {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.header__button-icon:hover {
    background-color: #4a4a4a;
    color: #00e377;
    border-radius: 5px;
}

.header__button-icons.header-active {
    display: flex;
}
