
.home {
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-bottom: 24px;
}

.home-title {
    color: #262626;
}

.home-title__greetings,
.home-title--main {
    margin: 0;
    padding: 2.5px 0px;
} 

.home-title--main  {
    font-weight: 700;
    font-size: 39px;
}

.home-title__greetings  {
    font-weight: 400;
    font-size: 18px;
}

.button {
   display: block; 
   text-decoration: none;
   color: #373737;
   border-radius: 4px;
   border: #00E377 solid 1px;
   padding: 14px 18px;
   text-align: center;
   background: linear-gradient(93.87deg, #00E377 -21.66%, #00C7EE 153.67%);;
   font-weight: 400;
   font-size: 16px;
   width: 182px ;
   
}

.button--secondary{
   display: block; 
   text-decoration: none;
   color: #373737;
   border-radius: 4px;
   border: #00E377 solid 1px;
   padding: 14px 18px;
   font-weight: 400;
   font-size: 16px;
   width: 182px ;
}

.button--secondary:hover {
    background: linear-gradient(93.87deg, #00C7EE  -21.66%, #00E377  153.67%);;
}

@media (max-width: 420px ) {
    .button--secondary,
    .button { 
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .button--secondary {
        margin-bottom: 10px;
    }
} 

.button:hover {
    background: linear-gradient(93.87deg, #00C7EE -21.66% , #00E377 153.67% );;
}

.home-user-actions {
    align-items: center;
    display: flex;
    column-gap: 8px ;
    flex-wrap: wrap;
}

.home-user-stats {
    margin-bottom: 24px ;
    max-width: 1328px;
}

.home-user-row {
    font-weight: 400 ;
    font-size: 18px ;
    color: #A6A6A6;
    margin-bottom: 14px;
}

.home-user-cards {
    display: flex;
    
}

.home-user-card {
    column-gap: 12px ;
    row-gap: 12px; 
}

.card-svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.home-user-card__info {
    border: #E8E9E9 solid 1px;
    border-radius: 11px ;
    position: relative;
}

.card__info-row {
    padding: 36px 67px 24px 30px  ;
}

.card-title-h1 {
    font-weight: 400 ;
    font-size: 16px;
    color: #A6A6A6;
    margin-bottom: 8px ;
}

.card-title {
    display: flex;
    align-items: center;
}

.card-title p {
    margin: 0;
}

.card-money {
    margin: 0;
    font-weight: 700 ;
    font-size: 32px;
    padding: 0px 103px 36px 30px  ;
}

.user-business {
    display: flex;
    border: 1px solid #36E18F;
    border-radius: 11px;
    background-color: #00C7EE0D ;
}

.business-svg{
    padding: 37.52px 23px 37.52px 26px;
}

.business-title {
    padding: 24px 26px 24px 0px;
    
}

.business-text-h1 {
    margin: 0;
    margin-bottom: 4px;
}

.business-text-p {
    margin: 0;
    margin-bottom: 9px;
    justify-content: space-between;
}

.business-link {
    
}

.business-link-row {
    display: inline-flex;
    align-items: center;
    column-gap: 13px;
    border-radius: 17px;
    background-color: #03EE7D1A;
    padding: 8px 16px 8px 16px ;
    text-decoration: none;
    color: #00E377 ;
}

.business-link-row:hover {
    text-decoration: underline;
}

@media(max-width: 1250px){
    .home-user-cards {
        flex-wrap: wrap;
        
    }
    .home-user-card__info {
       
        
    }
}
