@import './profiles.css';
@import './title.css';

.money-transfers {
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1328px) {
    .money-transfers {
        margin: 0px 24px;
    }
}

.money-transfers-profile {
    margin-bottom: 30px;
}
